.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* En tu index.css o tailwind.css */
@keyframes blink {
  50% {
    opacity: 0;
   
  }
}
.animate-blink {
  animation: blink 1s step-start infinite;
}

@keyframes rotate-shake-every-4s {
  0%, 82%, 100% { transform: rotate(0deg); } /* la mayor parte del tiempo sin rotación */
  83% { transform: rotate(-7deg); }
  85% { transform: rotate(7deg); }
  87% { transform: rotate(-5deg); }
  89% { transform: rotate(5deg); }
  90% { transform: rotate(0deg); }
}

.shake {
  animation: rotate-shake-every-4s 4s ease-in-out infinite;
  transform-origin: center; /* centro del elemento para girar bien */
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeInFromTop {
  animation: fadeIn 1s ease forwards;
}
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeInFromTop {
  animation: fadeIn 1s ease forwards;
}


.slider-mask {
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}


.slider-mask-desktop {
  -webkit-mask-image: linear-gradient(to top, transparent, black 10%, black 90%, transparent);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}